/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	overflow-x:hidden;
}
 
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
}
a:active, a:hover, a:focus {
    outline: 0 none;
}

abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0 none repeat scroll 0 0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
body, button, input, select, optgroup, textarea {
    color: #404040;
    font-size: 1rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;    
}
p {
    margin-bottom: 1.5em;
}
dfn, cite, em, i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee none repeat scroll 0 0;
    font-family: 'Verdana', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.6; 
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code, kbd, tt, var {
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
    font-size: 0.9375rem;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark, ins {
    background: #fff9c0 none repeat scroll 0 0;
    text-decoration: none;
}
big {
    font-size: 125%;
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
body {
    background: #fff none repeat scroll 0 0;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0 none;
    height: 1px;
    margin-bottom: 1.5em;
}
ul, ol {
    margin: 0 0 1.5em 0;
}
ul {
    list-style: outside none disc;
}
li {
    padding: 0 0 5px 0;
}
ol {
    list-style: outside none decimal;
}
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    max-width: 100%;
}

.Clientimg {
    height: 150px;
    max-width: 100%;
    margin: 5px;
    padding: 5px;
}

figure {
    margin: 1em 0;
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-weight:400; font-size:16px; background-color:#f21a1a; border:1px solid #f21a1a; border-radius:5px; padding:10px 30px; text-align:center; min-width:100px; color:#fff; display:inline-block; transition:ease-in-out 0.1s all  }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{background-color:#000; border-color:#000;}


input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
    font-size: 13px;
    font-weight: 300;
    padding: 5px 6px;
}
select {
    border: 1px solid #ccc;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
    color: #111;
}
textarea {
    width: 100%;
}
a {
    color: #f0333c;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a:visited {
    
    transition: all 0.3s ease 0s;
}
a:hover, a:focus, a:active {
    outline: medium none;
}
a:focus {
    outline: medium none;
}
a:hover, a:active {
    outline: 0 none;
}
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.clear::before, .clear::after, .entry-content::before, .entry-content::after, .comment-content::before, .comment-content::after, .site-header::before, .site-header::after, .site-content::before, .site-content::after, .site-footer::before, .site-footer::after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear::after, .entry-content::after, .comment-content::after, .site-header::after, .site-content::after, .site-footer::after {
    clear: both;
}
.widget {
    margin: 0 0 30px;
}
.widget select {
    max-width: 100%;
}
.sticky {
    display: block;
}
.hentry {
    margin: 0 0 1.5em;
}
.updated:not(.published) {
    display: none;
}
.page-content, .entry-content, .entry-summary {
    margin: 1.5em 0 0;
}
.inline-block{display:inline-block}


embed, iframe, object {
    max-width: 100%;
}
.clearnone{clear:none}
.fl{float:left}


@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/fonts-fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/fonts-fontawesome-webfont.woff2") format("woff2"), url("../fonts/fonts-fontawesome-webfont.woff") format("woff"), url("../fonts/fonts-fontawesome-webfont.ttf") format("truetype"), url("../fonts/fonts-fontawesome-webfont.svg") format("svg");
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.boxspacer {
    display: block;
    height: 20px;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.text-center {
    text-align: center;
    padding-bottom: 40px;
}
.textlink {
    color: #81B84D;
    font-size: 13px;
    text-decoration: none;
}
.textlink:hover {
    color: #000;
}

.visible-sm {
    display: none !important;
}


/*Content css*/


#primary.content-area {
    float: left;
    margin: 0 5% 0 0;
    width: 70%;
}
body.page-template-full-width #primary.content-area {
    float: left;
    margin: 0;
    width:100%;
} 
aside#secondary {
    float: left;
    padding: 50px 0 0;
    width: 25%;
}
.widget {
    background-color: #efeef0;
    border: 1px double #e2e2e2;
    margin: 0 0 30px;
    padding: 20px;
}
h2.widget-title {
    color: #30458a;
    display: block;
    
    font-weight: 600;
    line-height: 26px;
    position: relative;
	margin-top:0;
}
.search-form .search-field {
    margin: 0 0 10px;
    width: 100%;
}


/*Site wide Css Start*/

.fixed-header {position: fixed !important;top: 0 !important;left: 0;right: 0;box-shadow: 0 5px 5px rgba(0,0,0,0.2); background-color:#fff;z-index: 9999;}
.fixed-header .logoImg img {display: block;max-height: 50px;}
.fixed-header .logoImg {padding:5px 0}

body.fixed{padding-top:100px;}
#masthead {position: static;top: -65px;}


.logoImg{float:left; padding:20px 0;}
.logoImg img{display:block}
.topMenu{position: relative; background-color:#f2f2f2; float:left; width:100%;z-index: 9999;}
.topEnquiryBtn{float:right;line-height: 50px;background: #000;color: #fff;padding: 0 30px; font-size:18px; font-weight:700;}
.topEnquiryBtn:hover{background-color:#00BBC9}

.fixed-header .rightLinks{margin:10px 0 0}
.rightLinks {margin: 30px 0 0 0;float: right;}
.rightLinks a{display:inline-block; font-size:16px; color:#1e1d1d;}
.rightLinks i{width:42px; height:42px; display:inline-block; border-radius:50%; background-color:#000; color:#fff; text-align:center; font-size:20px; line-height:42px; vertical-align:top; float:left;transition:all 0.3s ease 0s}
.rightLinks i.fa.fa-whatsapp{font-size:25px;}
.rightLinks span.tb{margin-left:62px; display:block; line-height:19px;}
.rightLinks small{font-size:12px; color:#838383;}
.rightLinks .whatsapplink{margin-right:60px}
.rightLinks .whatsapplink:hover i{background-color:#20b769}
.rightLinks .whatsapplink:hover{color:#20b769}

.rightLinks a:hover i{background-color:#F5821F}
.rightLinks a:hover{color:#F5821F}

.homeSlider {position:relative; }
.homeSlider .caption-wrap{
	top:30%; text-align: left; background-color: transparent !important; opacity: 1 !important; color: #fff; position:absolute; left:0; right:0; font-size:20px; max-width:1170px; margin:auto
}
.homeSlider .caption-wrap h2{font-weight:400; font-family: 'Verdana', sans-serif;font-size:40px; margin:0; color:#000; line-height:normal}
.homeSlider .owl-carousel .owl-item img.img1{position:absolute; right:0; top:5%; width:auto; max-width:100%;}
.homeSlider .owl-carousel .owl-item img.img2{position:absolute; right:200px; top:5%; width:auto; max-width:100%;}

.homeSlider .owl-item.active .caption-wrap h2 {
    animation: 1s .2s fadeInDown both;
}
.homeSlider .owl-item.active img.img1{
    animation: 1s .2s fadeInUp both;
}
.homeSlider .owl-item.active img.img2{
    animation: 1s .5s fadeInUp both;
}

.homeSlider .caption-wrap .btn{width:200px; height:46px; line-height:46px; text-align:center; text-transform:uppercase; color:#fff; font-size:16px; display:inline-block; border-radius:5px; font-weight:700; border:1px solid #acacac;  }
.homeSlider .caption-wrap .btn:hover{background-color:#000;}
.homeSlider .owl-dots{position: absolute;left: 0;right: 0;bottom: 10px;}
.homeSlider .owl-theme .owl-dots .owl-dot.active span{background-color:#7c7676;}
#pre-div {
	background-color:#f6f6f6;
	bottom: 0;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}
#loader {
	background-image: url("../images/images-ajax-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	height: 149px;
	left: 50%;
	margin: -75px 0 0 -109px;
	position: absolute;
	top: 50%;
	width: 218px;
}

.titleWithborder{text-align: center; color: #3c3a3a; font-size:30px; margin:0 0 30px 0;font-weight:400}
.titleWithborder span{display: inline-block}
.titleWithborder span:after{content:""; display: block; height:22px; width: 94px; margin: 10px auto; background:url(../images/images-bg-title-line.png) center center no-repeat; }
.titleWithborder em{font-style:normal; color:#000; font-weight:700}
.titleWithborder.text-left{text-align:left;}
.titleWithborder.text-left span:after{margin:0}
.text-justify{text-align:justify}

.titleWithoutborder{color: #3c3a3a; font-size:30px; margin:0 0 30px 0;font-weight:300}
.titleWithoutborder span{display: inline-block}
.titleWithoutborder em{font-style:normal; color:#000; font-weight:700}
.titleWithborder.text-left{text-align:left;}

.owlpics{display:block; text-align:center;}
.owlpics h3{ font-size:18px; color:#212121; font-weight:600; margin:0; padding:10px;}
.owlpics .imgbox,.owlpics img{transition: all 0.3s ease 0s;}
.owlpics .imgbox span{display:none; position:absolute; left:0; right:0; top:60%; color:#fff; font-weight:700; z-index:1;transition: all 0.3s ease 0s;}

.owlpics:hover .imgbox{background-color:#000;}
.owlpics:hover img{opacity:0.4;}
.owlpics:hover .imgbox span{display:block; }

.owl-theme .owl-nav [class*="owl-"]{border-radius:0; background-color:#fff; border:1px solid #acacac; color:#000; width:50px; text-align:center; line-height:40px;}
.owl-theme .owl-nav [class*="owl-"]:hover{background-color:#000; color:#fff; border-color:#000;}
.owl-theme .owl-nav{margin-top:30px;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{background-color:#f0f0f0; padding:4px 7px !important; border-radius:15px;}


.owl-carousel .imgWrap {width:100%;height: 200px;display: table-cell;text-align: center;
vertical-align: middle;}
.owl-carousel .imgbox{display:table;}
.owl-carousel .imgbox img{max-width:100%; width:100%; height: 100%; margin:auto; max-height: 80px;}

.homeCTA{padding:50px 0}
.homeCTA .bagicon{width:139px; height:139px; background-color:#ccc; border-radius:50%; margin:10px auto 0; position:relative; z-index:10; }
.homeCTA .bagicon.color1{background-color:transparent;}
.homeCTA .bagicon.color2{background-color:transparent;}
.homeCTA .bagicon.color3{background-color:transparent;}
.homeCTA .bagicon.color4{background-color:transparent;}
.homeCTA .bagicon img{max-width:100%; width:auto; margin:auto; position:absolute; left:0; right:0; top:0; bottom:0; }
.homeCTA a.owlpics:after{content:""; display:block; width:159px; height:159px; position:absolute; top:0px; left:0; bottom:0; right:0; background-color:#ccc; border-radius:50%; z-index:9; margin:0 auto; transform:scale(0); transition:all ease-in-out 0.3s}
.homeCTA h3{color:#292929; font-size:20px; margin:10px 0; padding:0; transition:all ease-in-out 0.5s}
.homeCTA a{color:#5a5858}
.homeCTA p{font-size:14px; margin:0}
.homeCTA a.owlpics:hover:after{transform:scale(0)}
.homeCTA .owlpics:hover img{opacity:1;}
.homeCTA a:hover h3{color:#f15922}

.introContent{padding:50px 0;}
.homeintroContent{padding:50px 0;}
.homeintroContent .container{max-width:inherit; padding:0 0 0 5%}
.homeintroContent img{float:right}
.homeintroContent .col21{width:60%;}
.homeintroContent .col22{width:34%;}

.homeintroContent {max-width:inherit}
.introContent h3{margin:0 0 20px;color:#1a1a1a; font-size:22px; font-weight:400; line-height:26px;}
.homeintroContent h3{margin:0 0 20px;color:#1a1a1a; font-size:22px; font-weight:400; line-height:26px;}
.introContent i{color:#f21a1a;}
.homeintroContent i{color:#f21a1a;}
.introContent img{box-shadow:0 1px 21px rgba(0,0,0,0.39); margin:10px 0 0 0}
.fullCta{background-color: #efeef0; padding:50px 0; font-size:28px; font-weight:300; text-align:center;}
.fullCta a{color:#000; border-bottom:1px dashed #000}
.fullCta a:hover{color:#20b769; border-bottom:1px dashed #20b769}

.ourClients{background:#efeef0; padding:50px 0;}
.ourClients .imgbox{ padding:10px;width: 100%;}
.ourClients .owl-carousel .imgWrap{height:100px;background-color:#fff;padding:10px;}


.kiran{background:#e05959; padding:50px 0;}
.kiran .imgbox{ padding:10px;width: 100%;}
.kiran .owl-carousel .imgWrap{height:100px;background-color:#fff;padding:10px;}
.requestCallback{background-color:#222; color:#fff; padding:40px 0}
.requestCallback .titleWithoutborder{color:#fff;}
.requestCallback .titleWithoutborder em{color:#fff;}
.requestCallback .col-left{width:30%; float:left; padding-right:30px;}
.requestCallback .col-right{width:70%; float:left;}
.requestCallback .col21{width:48%; margin-right:2%;}
.requestCallback .col22{width:48%; margin-left:2%;}



.homeProducts{ padding:50px 0;}
.homeProducts h2{color:#000000}

.homeProducts .owl-carousel .imgbox img{max-height:inherit}
.homeProducts .owlpics h3{color:#fff}
.homeProducts .owlpics .imgbox span{top:40%; display:block}
.homeProducts .owlpics .imgbox{display: inline-block;}
.homeProducts .owlpics:hover .imgbox {background-color: transparent;}
.homeProducts .owlpics:hover .imgbox img{opacity:1;}
.homeProducts .owlpics .imgbox .fa.fa-search {width: 40px;height: 40px;background: #fff;color: #000;line-height: 40px;border-radius: 40px;transition:all ease-in-out 0.3s;transform:scale(0);}
.homeProducts .owlpics:hover .imgbox .fa.fa-search{transform:scale(1)} 
.homeTestimonials{padding:50px 0; text-align:center; background-color:#f0f0f0;}

.bottomCTA{background-color:#333; color:#fff; padding:40px 0;}
.bottomCTA h2{font-weight:400; font-size:28px; color:#fff; margin:0; padding:0;}
.bottomCTA p{font-size:18px; color:#fff; margin:0; padding:0;}
.bottomCTA .colLeft{float:left; width:75%;}
.bottomCTA .colRight{float:left; width:25%;}

.btn-gradiant{
background: rgba(252,138,32,1) ;
background: -moz-linear-gradient(top, rgba(252,138,32,1) 0%, rgba(252,83,32,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,138,32,1)), color-stop(100%, rgba(252,83,32,1)));
background: -webkit-linear-gradient(top, rgba(252,138,32,1) 0%, rgba(252,83,32,1) 100%);
background: -o-linear-gradient(top, rgba(252,138,32,1) 0%, rgba(252,83,32,1) 100%);
background: -ms-linear-gradient(top, rgba(252,138,32,1) 0%, rgba(252,83,32,1) 100%);
background: linear-gradient(to bottom, rgba(252,138,32,1) 0%, rgba(252,83,32,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8a20', endColorstr='#fc5320', GradientType=0 );
border:none !important; 
font-weight:400; font-size:16px; border-radius:5px; padding:10px 30px; text-align:center; min-width:100px; color:#fff;
}
.btn-large{display:block; width:100%; font-size:18px !important; text-transform:uppercase; padding:20px 0 !important; margin:15px 0 0}
.btn-small{padding:10px 15px;}
.btn-gradiant:hover{background:#000 !important;}
.mr100{margin-right:100px !important}

.site-footer{padding:30px 0 0; background-color:#646262; color:#fff;}
.site-footer ul{list-style:none;margin:0;padding:0;text-align:left; vertical-align:top}
.site-footer li{padding:0 0 10px 15px;position:relative;}
.site-footer li:before{content:"\f105"; font:normal normal normal 16px/1 FontAwesome; color: #fff;
position: absolute;
left: 0;
top: 4px; }
.site-footer a{color:#ededed}
.site-footer a:hover{color:#fff}

.site-footer .footerTitle{color:#fff;padding-bottom:8px;margin-bottom:20px;position:relative;font-size:18px;text-transform:uppercase; font-weight:900}
.site-footer ul.displayInline{display:inline-block;}
.site-footer .box{margin-bottom:0; clear:both}
.site-footer .box p{margin-bottom:0}
.site-footer .box .fa{color:#fff;font-size:20px;}
.site-footer .box .fa.fa-envelope-o{font-size:18px;padding:5px 15px 18px 0;}
.site-footer .box .fa.fa-mobile{font-size:28px;padding:0px 15px 17px 3px;}
.site-footer .box .fa.fa-map-marker{padding:10px 15px 0 0;}
.site-footer .boxColumn a:hover{color:#fff;}

.site-footer .footerSocial{margin:20px 0 0}
.site-footer .footerSocial a{margin:0 12px 0 0; font-size:30px;}


.site-footer .copyRight{text-align:center;font-size:16px;padding:25px 0; background-color:#000; margin:40px 0 0 0}
.site-footer .copyRight a{color:#ff0000}
.site-footer .copyRight a:hover{text-decoration:underline;}
.site-footer .copyRight p{margin:0}
.site-footer .copyRight .left{float:left;}
.site-footer .copyRight .right{float:right;text-align:right;}
.site-footer .copyRight:after{content:"";display:block;clear:both;}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    
    color: #000;
    cursor: pointer;
    border: 0;
	border-radius:40px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 24px;
}
#back-to-top.show {
    opacity: 1;
}


#menubtn {height: 40px;border-radius: 40px;line-height: 40px;display: inline-block; margin-left:12px; padding:0 15px; cursor: pointer; border:1px solid #ccc; margin-top:15px;}
#menubtn span{padding-left: 5px;}
.col21{width:47%; display:inline-block; margin:0 3% 0 0; float:left;}
.col22{width:47%; display:inline-block; margin:0 0 0 3%;}

.col-31{width:31.66%; display:inline-block; margin:0 2.5% 0 0; float:left;}
.col-32{width:31.66%; display:inline-block; margin:0 2.5% 0 0; float:left;}
.col-33{width:31.66%; display:inline-block; margin:0 0% 0 0; float:left;}

.col-77{width:49%; display:inline-block; margin:0 2.5% 0 0; float:left;}
.col-88{width:45%; display:inline-block; margin:0 2.5% 0 0; float:left;}

.wpcf7-form p{margin:0 0 12px;}
.wpcf7-recaptcha{margin:0 0 18px;}
.wpcf7-textarea,.wpcf7-text{width:100%; padding:6px !important; font-weight:300;}
.wpcf7-textarea{max-height:100px;}
.wpcf7-form-control.wpcf7-submit {background-color: #083D5F;border: medium none;color: #fff;font-size: 18px;padding: 14px 30px;transition: all 0.3s ease 0s;}
.wpcf7-form-control.wpcf7-submit:hover{background-color:#81B84D;} 
.box {margin-bottom: 30px;}
.box .fa {color: #acacac;float: left;font-size: 22px;padding: 2px 0 0;}
.boxColumn {margin: 0 0 0 30px;}
.boxColumn a{text-decoration:none;}
.boxColumn a:hover{color:#000;}
.entry-content a:hover{color:#000;}
.brdimg {border: 1px solid #083D5F;}

.col21 iframe,.col22 iframe{border-top:1px solid #ccc !important;border-bottom:1px solid #ccc !important}
.col21 iframe{border-right:1px solid #ccc !important;}

.btn-default{font-weight:400; font-size:16px; background-color:#f21a1a; border:1px solid #f21a1a; border-radius:5px; padding:10px 30px; text-align:center; min-width:100px; color:#fff; display:inline-block;  }
.btn-default:hover{background-color:#000; border-color:#000;}
.btn-default.btn-o{background-color:transparent; border-color:#acacac; color:#3a3a3a}
.btn-default.btn-o:hover{background-color:#000; border-color:#000; color:#fff;}
.btn-lg{font-size:16px !important;padding:8px 30px;}
.btn-black{border-color:#000 !important; background-color:#000 !important;}

.pageTitle{
background: rgba(255,148,35,1);
background: -moz-linear-gradient(left, rgba(255,148,35,1) 0%, rgba(226,71,24,1) 49%, rgba(182,38,36,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,148,35,1)), color-stop(49%, rgba(226,71,24,1)), color-stop(100%, rgba(182,38,36,1)));
background: -webkit-linear-gradient(left, rgba(255,148,35,1) 0%, rgba(226,71,24,1) 49%, rgba(182,38,36,1) 100%);
background: -o-linear-gradient(left, rgba(255,148,35,1) 0%, rgba(226,71,24,1) 49%, rgba(182,38,36,1) 100%);
background: -ms-linear-gradient(left, rgba(255,148,35,1) 0%, rgba(226,71,24,1) 49%, rgba(182,38,36,1) 100%);
background: linear-gradient(to right, rgba(255,148,35,1) 0%, rgba(226,71,24,1) 49%, rgba(182,38,36,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9423', endColorstr='#b62624', GradientType=1 );
 text-align:center; padding:50px 20px; color:#fff; }
.pageTitle h1{margin:0; padding:0; line-height:40px; font-size:36px; font-weight:300;}
#breadcrumb{list-style:none; margin:10px 0 0; padding:0;}
#breadcrumb li{display:inline-block; font-size:16px;}
#breadcrumb li:not(:last-child):after{content:"/"; display:inline-block; margin:0 10px;}
#breadcrumb a{color:#fff;}


.site-content{padding:30px 0}

.img-border{border:1px solid #fff; border-radius:20px; box-shadow:0 0 0 5px rgba(0,0,0,0.1);}

.serviceBox{padding:0 0 30px; margin:0 0 30px; border-bottom:1px solid #ccc;}
.serviceBox.last{padding:0; margin:0; border:none}
.serviceBox .serviceText{display:table}
.serviceBox .serviceText h3{margin-top:-2px;}
.serviceBox img{border-radius:20px; border:1px solid #ccc;}

.col31{width:33%; float:left;}
.col32{width:33%; float:left; padding-right:40px}
.col33{width:33%; float:left;}

#frm_contact label{font-size:12px; text-transform:uppercase}
#frm_contact input{border:1px solid #ccc; width:90%; padding:5px;}
#frm_contact textarea{border:1px solid #ccc; width:90%;}
#frm_contact .form-group{margin:0 0 10px;}

.mapwrap .col21,.mapwrap .col22{width:50%; margin:0;}

/*404 css*/
.wrap404{text-align:center; padding:40px 0}
.wrap404 i{font-size:120px;}
.wrap404 h2{font-size:60px; font-weight:500; margin:0;}
.wrap404 h4{font-size:40px; font-weight:300; margin:0; color:#ccc;}
.wrap404 p{font-size:20px; }



.w800{max-width:800px !important; margin:0 auto;}
.w660{max-width:660px !important; margin:0 auto;}
.w600{max-width:600px !important; margin:0 auto;}
.w250{max-width:250px !important; margin:0 auto;}
.w200{max-width:200px !important; margin:0 auto;}
.w150{max-width:150px !important; margin:0 auto;}
.w100{max-width:100px !important; margin:0 auto;}
.minw100{min-width:100px;}
.minw240{min-width:240px;}

.product_box{float:left;width:100%;border-bottom:1px solid #ccc;padding:0 0 40px;margin-bottom:40px; position:relative}
.product_box:after{content:"\f290";font-family:FontAwesome; width:44px; height:44px; border-radius:50%; background-color:#dad5d5; color:#fff; display:block; position:absolute; bottom:-22px; font-size:18px; text-align:center; line-height:44px;} 
.product_box.last-child{margin-bottom:0;border-bottom:none;}
.product_box .place_img{max-width:240px; float:right }
.product_box .product_detail{float:left;text-align:justify;}
.product_box .titleWithoutborder{font-size:26px; margin:0}
.product_box p{line-height:24px;}
.product_box.islast{border-bottom:none; padding-bottom:0; margin-bottom:0}
.product_box.islast:after{display:none}
.fullrow{padding:40px 0}
.contentLeft {
    float: left;
    width: 70%;
	margin:20px 0 0 0;
}
.sidebarRight {
    width: 27%;
    float: left;
    margin: 30px 0 0 3%;
}
.sidebarRight .widget{margin:0 0 20px 0;}
.sidebarRight .widget.ourProducts{background-color:#464646; margin-bottom:30px;}
.sidebarRight .widget.ourProducts h2{color:#fff; font-size:24px; margin:0 }
.sidebarRight h2{text-align:center; font-size:20px; font-weight:300}

/* .sidebarRight h2:before{background:url(../images/images-icon-white-handle.png) center center no-repeat; width:91px; height:29px; content:""; display:block; margin:0 auto 5px} */
.sidebarRight .widget ul{margin:0; padding:0; list-style:none;}
.sidebarRight .widget li{margin:0; padding:0 0 5px 24px;position: relative;}
.sidebarRight .widget li:before{content:"\f046"; font-family:FontAwesome; position: absolute;left: 0; font-size:14px; top:2px;}
.sidebarRight .widget.ourProducts ul{padding:10px 0 0}
.sidebarRight .widget.ourProducts li:before{color:#fff;}
.sidebarRight .widget.ourProducts li a{font-size:16px; color:#fff; font-weight:300}
.sidebarRight .formWrap input[type="submit"]{margin:0 0 10px}

.sidebarRight .formWrap input[type="text"], .sidebarRight .formWrap input[type="tel"], .sidebarRight .formWrap input[type="email"]{background-color:#e0dbdb}
.sidebarRight .formWrap textarea{background-color:#e0dbdb}



.field-row{margin-bottom:10px;}
.formWrap {margin:0 auto;}
.formWrap label{display:block; font-weight:700;}
.formWrap input[type="text"],.formWrap input[type="tel"],.formWrap input[type="email"]{width:100%; border-color:#cecece; border-radius:0; color:#000;}
.formWrap select{width:100%; border-color:#cecece; border-radius:0; color:#000;font-size: 13px;
font-weight: 300;
padding: 5px 6px;}
.formWrap .col21,.formWrap .col22{margin-bottom:15px;}
.formWrap .col-31,.formWrap .col-32,.formWrap .col-33{margin-bottom:15px;}
.formWrap textarea{height:120px; border-radius:0;color:#000;}
.formWrap input[type="submit"]{width:auto;margin:20px 0 0; }

.package-box{max-width:31.6%; margin:0 2.6% 20px 0; position:relative; float:left;}
.package-box img{display:block}
.package-box .owlpics .imgbox span{top:40%}
.package-box.mr0{margin-right:0;}

table.pkg{background-color:#f4f4f4;}
table.pkg td{padding:10px; border-bottom:1px solid #c2c2c2; color:#1a1a1a; font-size:16px;font-weight:400;}
table.pkg td:first-child{background-color:#e5e5e5; font-weight:700;}
table.pkg tr:last-child td{border:none;}

.pkg-day-txt{padding-bottom:30px; border-bottom:2px dashed #ccc; margin-bottom:30px;}
.pkg-day-txt.last{padding-bottom:0px; border-bottom:none; margin-bottom:0px;}
.pkgtitle{font-size:22px; }
.roundNum{display:block;float:left; width:50px; height:50px; border-radius:50px; background-color:#f29200; font-size:18px; text-align:center; font-weight:900; vertical-align:top; color:#fff}
.roundNum span{display:block; font-weight:700; line-height:16px; padding:5px 0 0;font-size:14px;}
.titletxtonly{margin-left:70px; padding:5px 0 0 0;font-size:24px; }
.pkgdesc{margin-left:70px; clear:both; padding:10px 0 0 0}


/*New*/
.showMobile{display:none;}
.showMobile a{display:inline-block; background-color:#F2F2F2; float:left; text-align:center; color:#000;  padding:5px 0; font-weight:400}
.addBorder{border-left:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(0,0,0,0.2); width:20%;font-size:18px;}
.lastbtn{width:60%;font-size:18px;}
.wtsapp{width:20%;font-size:18px;}
.showMobile a:hover{background-color:#000; color:#fff;}
#menubtn{display:none;}
.text-center{text-align:center}
.font20{font-size:20px;}
.formWrap input[type="submit"].btn-tracking{width:70%; padding:4px 0; vertical-align:top; margin:0}
/*Alertcss*/
.alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
.alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.alert-info {color: #31708f;background-color: #d9edf7;border-color: #bce8f1;}
.alert-warning {color: #8a6d3b;background-color: #fcf8e3;border-color: #faebcc;}
.alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
.table{border-left:1px solid #ccc;border-top:1px solid #ccc; font-size:15px; color:#000}
.table th{text-align:center; padding:10px;
color:#fff;font-size: 20px;border-right:1px solid #ed5526; border-bottom:1px solid #ccc; background-color:#ed5526; }
.table td{text-align:center; padding:12px 20px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; background-color:#ffffff;}
#trackingdetailtable{margin:30px 0 0}
.bgf6f6f6{background-color:#f6f6f6;}
.bgf0f0f0{background-color:#f0f0f0;}
.flexbox-container {display: -ms-flex;display: -webkit-flex;display: flex;}
.flexbox-container .col {width: 50%;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.p30{padding:30px;}
.p40{padding:40px;}
.font24{font-size:24px;}
.font30{font-size:30px;}
.bg-comProfileLeft{background:url(../images/images-bg-comProfileLeft.jpg) center center no-repeat; background-size:cover;}
.col-41{width: 23.65%; float:left; margin:0 1.8% 0 0;}
.col-42{width: 23.65%; float:left; margin:0 1.8% 0 0;}
.col-43{width: 23.65%; float:left; margin:0 1.8% 0 0;}
.col-44{width: 23.65%; float:left; margin:0;}


.contentwrap{padding:60px 0}
.linkBox{text-align:center;}
.linkBox img{display:block; margin:auto; border-radius:50%;box-shadow: 0 1px 21px rgba(0,0,0,0.15); width:80%; transition:ease-in-out all 0.2s;}
.linkBox h2{color: #292929;font-size: 18px;}
.linkBox:hover h2{color: #f15922;}
.linkBox:hover img{box-shadow: 0 1px 21px rgba(0,0,0,0.4); transform:translateY(-10px);}

.applicationBox{display:inline-block; max-width:160px; vertical-align:top}
.applicationBox img{display:block; margin:auto; border-radius:50%;box-shadow: 0 1px 21px rgba(0,0,0,0.15); width:80%; transition:ease-in-out all 0.2s;}
.applicationBox h2{color: #292929;font-size: 14px; line-height:normal}


/*Media Query*/

@media only screen and (min-width: 1025px) {	
.homeSlider {
    min-height: 500px;
}
}

@media only screen and (max-width: 1024px) {	
	#cssmenu > ul > li{padding:0 10px;}
	#cssmenu > ul > li:first-child{padding:0 10px;}	
	.homeSlider .caption-wrap{top:30%; left:20px}
	.homeSlider .caption-wrap h2{font-size:4vw;}
	.homeSlider .owl-carousel .owl-item img.img2{width:25vw; right:13vw;}
	.homeSlider .owl-carousel .owl-item img.img1{width:25vw;}
	
}
@media only screen and (max-width: 980px) {
	
}
@media only screen and (max-width: 979px) {
	.logoImg{max-width:200px; padding:10px 0}
	.rightLinks{display:none;}
	#cssmenu #menu-button{display:none;}
	#cssmenu > ul{clear:both;}
	.topEnquiryBtn{display:none;}
	#cssmenu > ul > li{padding:0}
	#cssmenu > ul > li:first-child{padding:0;}
	.fixed-header .logoImg {padding: 10px 0;}
	.showMobile{display:block;}
	#menubtn{display:inline-block; float:right}
}
@media only screen and (max-width: 800px) {
	
	aside#secondary{padding:40px 0 0 0; width:30%}
	#primary.content-area{width:65%}	
	.site-footer .copyRight .col21,.site-footer .copyRight .col22{text-align:center; width:100%; margin:0; padding:0;}	
	.site-footer .col41{width:47.5%;}
	.site-footer .col42{width:47.5%;}
	.site-footer .col43{width:47.5%;}
	.site-footer .col44{width:47.5%;}
	.product_box.last-child{padding:0;}
	.product_box{padding:0 0 20px;margin-bottom:20px;}
	
	.col21.footerLeft {width: 100%;}
	.col22.footerRight {width: 100%; margin-left:0}

}
@media only screen and (max-width: 767px) {	
	.flexbox-container {display: block;}
	.flexbox-container .col {width:100%;}
	.flexbox-container .col.bg-comProfileLeft {min-height:400px;}
	
	
	.requestCallback .col-left{width:100%;  padding-right:0px;}
	.requestCallback .col-right{width:100%;}
	.requestCallback .col21,.requestCallback .col22{width:100%; margin:0 0 20px;}

	.homeSlider .caption-wrap {font-size:2vw;}
	.homeSlider .caption-wrap h1{	font-size: 4vw;}
	.homeSlider .caption-wrap .btn{width:auto; padding:2vw;font-size: 3vw; height:auto; line-height:normal;}	
	.site-footer .col41{width:100%; margin:0; border-bottom:1px solid #c9c4ae; padding-bottom:10px;}
	.site-footer .col42{width:48%;}
	.site-footer .col43{width:48%; margin-right:0}
	.site-footer .col44{width:100%;border-top:1px solid #c9c4ae;border-bottom:1px solid #c9c4ae; padding:10px 0;}
	.site-footer .col41 .socialicon{padding:0;}
	.site-footer .col41 .socialicon p{display:none;}
	.site-footer .col41 .footerlogo{display:none;}
	.site-footer .copyRight{padding: 0 0 15px 0;}
	.site-footer .copyRight .right{text-align:center; padding:10px 0 0}
	.product_box .place_img.alignleft{margin-right:4%;}
	.product_box .place_img.alignright{margin-left:4%;}
	.bottomCTA h2{font-size:24px; line-height:normal}
	.bottomCTA .colLeft{float:left; width:100%;}
	.bottomCTA .colRight{float:left; width:100%;}
	.site-footer .copyRight .right{float:none;}
	.site-footer .copyRight .left{float:none; padding:20px 0 0 0}
	
	#trackingdetailtable{border:1px solid #ccc}
	#trackingdetailtable td, #trackingdetailtable th {display: block;min-height: 25px;text-align: left; width:auto;}
	#trackingdetailtable thead tr {position: absolute;top: -9999px;left: -9999px;}
	#trackingdetailtable th {display: none!important }
	#trackingdetailtable tr {border-bottom:8px solid transparent; border-right:none;}
	#trackingdetailtable td {border: none;border-bottom: 1px solid #ccc;position: relative;padding-left: 50%; height:auto;}
	#trackingdetailtable td:before {position:absolute;top: 0px;left: 0px;width: 45%;padding-left: 10px; white-space: nowrap;background: #f3f3f3;    height: 100%; line-height:46px;color:#000;font-size: 15px;}
	#trackingdetailtable td:nth-of-type(1):before {content: "Job Card"; }
	#trackingdetailtable td:nth-of-type(2):before {content: "Job Title"; }
	#trackingdetailtable td:nth-of-type(3):before {content: "Current Status"; }

	#trackingdetailtable2{border:1px solid #ccc}
	#trackingdetailtable2 td, #trackingdetailtable2 th {display: block;min-height: 25px;text-align: left; width:auto;}
	#trackingdetailtable2 thead tr {position: absolute;top: -9999px;left: -9999px;}
	#trackingdetailtable2 th {display: none!important }
	#trackingdetailtable2 tr {border-bottom:8px solid transparent; border-right:none;}
	#trackingdetailtable2 td {border: none;border-bottom: 1px solid #ccc;position: relative;padding-left: 50%; height:auto;}
	#trackingdetailtable2 td:before {position:absolute;top: 0px;left: 0px;width: 45%;padding-left: 10px; white-space: nowrap;background: #f3f3f3;    height: 100%; line-height:46px;color:#000;font-size: 15px;}
	#trackingdetailtable2 td:nth-of-type(1):before {content: "Date"; }
	#trackingdetailtable2 td:nth-of-type(2):before {content: "Comment"; }
	#trackingdetailtable2 td:nth-of-type(3):before {content: "Status"; }
	
	.contentLeft {width: 100%;}
	.sidebarRight {width: 100%;margin: 30px 0 0 0;}
}
@media only screen and (max-width: 640px) {
	.flexbox-container .col.bg-comProfileLeft {display:none}
	.flexbox-container .col.p40{padding:15px;}
}
@media only screen and (max-width: 600px) {	
	#primary.content-area{width:100%; margin: 0;}
	aside#secondary{padding:40px 0 0 0; width:100%}	
	.alignright,.alignleft{max-width:220px;	}	
	.titleWithborder,.titleWithoutborder {font-size: 22px; margin-bottom: 20px;}
	
	.col21{width:100%; display:block; margin:0 0 30px 0; float:none;}
	.col22{width:100%; display:block; margin:0;}
	.col31, .col-31{width:100%; float:left;margin:0 0 30px 0;}
	.col32, .col-32{width:100%; float:left;margin:0 0 30px 0;}
	.col33, .col-33{width:100%; float:left;}
	input#address{width:100%;}
	.mapwrap .col21, .mapwrap .col22{width:100%}
	.product_box .place_img{width:100%;margin:0 0 15px;max-width:100%;}
	.product_box .product_detail{width:100%;padding:20px 0 0 0;}
	.homeintroContent .col21{width:100%;}
	.homeintroContent .col22{width:100%;}
	.homeintroContent .container{padding:0 15px;}
	
}
@media only screen and (max-width: 599px) {
	
}

@media only screen and (max-width: 479px) {	
	.alignright,.alignleft{max-width:inherit; width: 100%; float:none; margin: 0;}
	.page-content, .entry-summary{margin:0}
	aside#secondary{padding:0;}	
	.owl-carousel .imgbox img{max-height:inherit}	
	.homeCTA{padding:25px 0;}
	.introContent {padding: 25px 0 10px;}
	.homeProducts{padding: 25px 0;}
	.homeTestimonials {padding: 25px 0;}
	
	.product_box .titleWithoutborder {font-size: 22px;}
} 

@media only screen and (max-width: 380px) {	
	.applicationBox{ max-width:140px;}
}